body {
    background-image:url('imagens/bg.jpg');
    background-position:right bottom;
    background-repeat:no-repeat;
    background-attachment:fixed;
    padding-top: 60px;
}

.content{
    width:1000px;
    position:relative;
    margin: 0 auto;
}

.header{
    position:fixed;
    background-image:url('imagens/bg-header.jpg');
    width:100%;
    padding:5px 0 55px 0;
    height:50px;
    margin-top:-60px;
    z-index:500;
    border-bottom: 10px solid #12447c;
}

#logo{
    float:left;
    width:180px;
}

#logo img{
    width:100%
}

.bottom{
    position:fixed;
    background-color:#12447c;
    width:100%;
    padding:2px 0 2px 0;
    bottom:0;
    color:#fff;
    z-index:500
}

.jqplot-base-canvas { 
    /*background: #12447c;*/
} 

.jqplot-title{
    color: #12447c !important;
}
.jqplot-xaxis-label{
    color: #12447c !important;
}
.jqplot-yaxis-label{
    color: #12447c !important;
}

.ui-widget-content .ui-datatable-empty-message{
   display: none;
}